html{
	background-color: rgb(220,220,220);
	font-family: 'Raleway', sans-serif;
}

body{
	margin: 0;
	padding: 0;
}

.wrapper{
	position: absolute;
	width: 80%;
	margin-left: 10%;
	background-color: rgba(245,245,245,1);
	height: 100%;
	box-shadow: 0px 0px 20px;
}

h1{
	margin-left: 5%;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul li{
    background-image: url('../img/right1.png');
    background-repeat: no-repeat;
    background-position: 0px center; 
	background-color: rgb(220,220,220);
}

li a{
	margin-left: 50px;
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: underline;
}

.menu1{
	font-size: 1.3rem;
	background-color: rgba(80,220,230,1);
}

.menu2{
	font-size: 1.3rem;
	background-color: rgba(245,245,245,1);
}